<%= form_with model: post do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :tag_names, style: "display: block" %>
    <%= form.text_field :tag_names %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
